<!-- ************** Sample Acquired Goods Card Display ************** -->
<article class="card w-75 mx-auto mb-3 text-center acquired-good-card">
  <div class="card-body" id="0">
    <h5 class="card-title card-heading">Acquired Good Card</h5>
    <h6 class="mt-0" id="product-name"></h6>
    <p class="card-text mb-0" id="product-money-stats"></p>
    <p class="card-text" id="product-mood-stats"></p>
    <a href="#" class="btn btn-primary acquired-good-btn">Buy Acquired Goods</a>
  </div>
</article>