{{! this is the screen that will have all the character stats info and roll dice button }}
<article class="card w-75 mx-auto mb-3 text-center acquired-good-card">
  <div class="card-body" id="0">
    <h5 class="card-title card-heading">The Dopa Dope</h5>
    <h6 class="mt-0">Character's Name :</h6>
    <p class="card-text" id="p-custom"> Character Stats</p>
    
    <section class="d-flex justify-content-center text-center mt-3">
      <a href="#" id="roll-btn" class="btn btn-primary mr-4">Roll Dice</a>
      <p class="mb-0 pt-1">
        <i class="fa-solid fa-dice"></i>
        <span id="die-result"></span>
      </p>
    </section>
  </div>
</article>