{{!-- sample game over menu --}}
<article class="card w-75 mx-auto mb-3 text-center game-over-card">
    <div class="card-body" id="0">
        <h2 class="card-title card-heading">GAME OVER</h2>
        <h3 class="mt-0">Thanks for playing! Here's how you did :</h3>
        <a href="#" class="btn btn-primary play-again-btn">Play Again?</a>
    </div>
</article>