        <!-- ************** sample game over menu ************** -->
        <article class="card w-75 mx-auto mb-3 text-center game-over-card">
          <div class="card-body" id="0">
            <h2 class="card-title card-heading">GAME OVER</h2>
            <h4 class="mt-0">Thanks for playing! Here's how you did :</h4>
            <p class="card-text mb-0" id="final-good-amount">Place Holder</p>
            <p class="card-text" id="final-good-dopa">Place Holder</p>
            <p class="card-text" id="final-goods-summary">Place Holder</p>
            <p class="card-text" id="final-life-summary">Place Holder</p>
            <a href="#" class="btn btn-primary play-again-btn">Play Again?</a>
          </div>
        </article>
      </section>
    </main>