<!-- ************** Sample Life Events Card Display ************** -->
<article class="card w-75 mx-auto mb-3 text-center life-events-card">
  <div class="card-body" id="0">
    <h5 class="card-title card-heading">Life Event Card</h5>
    <h6 class="mt-0">A random life event card from the deck</h6>
    <p class="card-text" style="font-size: 50px">?</p>
    <a href="#" class="btn btn-primary life-event-btn">Choose Life Event</a>
  </div>
</article>