<!-- ************** Sample Picked Acquired Goods Card Display ************** -->
<article class="card w-75 mx-auto mb-3 text-center picked-acquired-good-card">
  <div class="card-body" id="0">
    <h5 class="card-title card-heading">
      You choose an Acquired Goods Card!
    </h5>
    <img
      alt="picked goods picture"
      class="img-thumbnail"
      id="picked-good-img"
    />
    <h6 class="mt-0" id="goods-description">Place Holder :</h6>
    <p class="card-text mb-0" id="picked-good-name">Place Holder</p>
    <p class="card-text" id="new-picked-goods-money">Place Holder</p>
    <p class="card-text" id="new-picked-goods-dopa">Place Holder</p>
    <a href="#" class="btn btn-primary picked-good-btn">Continue</a>
  </div>
</article>