<!-- ************** Sample Picked Life Events Card Display ************** -->
<article class="card w-75 mx-auto mb-3 text-center picked-life-events-card">
  <div class="card-body" id="0">
    <h5 class="card-title card-heading">You choose a Life Events Card</h5>
    <h6 class="mt-0" id="life-event-name">Place Holder :</h6>
    <p class="card-text" id="new-picked-life-money">Place Holder</p>
    <p class="card-text" id="new-picked-life-dopa">Place Holder</p>
    <a href="#" class="btn btn-primary picked-life-btn">Continue</a>
  </div>
</article>