{{! this is going to be the card that displays is the life events gets chosen for that turn }}

{{! if picked DISPLAY --> 
--> Life Event name, description, money change, dopa change, 
--> New Character stats }}

        <article
          class="card w-75 mx-auto mb-3 text-center picked-life-events-card"
        >
          <div class="card-body" id="0">
            <h5 class="card-title card-heading">you choose lifeEventsCard</h5>
            <h6 class="mt-0">Place Holder :</h6>
            <p class="card-text" id="p-custom">Place Holder</p>
            <a href="#" class="btn btn-primary picked-life-btn">Continue</a>
          </div>
        </article>