<!-- will start game   -->
<article class="card w-75 mx-auto mb-3 text-center start-game-card">
  <div class="card-body" id="0">
    <h5 class="card-title card-heading">
      Would you like to play a game? Choose your character :
    </h5>

    <section class="d-flex justify-content-center text-center mt-3">
      <h6 class="mt-0">Workaholic :</h6>
      <p class="card-text" id="p-custom">Workaholic Stats : </p>
      <a
        href="#"
        class="btn btn-primary workaholic-start-game-btn"
      >StartGame</a>
    </section>

    <section class="d-flex justify-content-center text-center mt-3">
      <h6 class="mt-0">Free Spirit :</h6>
      <p class="card-text" id="p-custom">Free Spirit Stats</p>
      <a
        href="#"
        class="btn btn-primary free-spirit-start-game-btn"
      >StartGame</a>
    </section>

    <section class="d-flex justify-content-center text-center mt-3">
      <h6 class="mt-0">Work-Life Balance :</h6>
      <p class="card-text" id="p-custom">Work-Life Balance Stats</p>
      <a href="#" class="btn btn-primary work-life-start-game-btn">StartGame</a>
    </section>

  </div>
</article>