{{! will start game  }}
<article class="card w-75 mx-auto mb-3 text-center start-game-card">
  <div class="card-body" id="0">
    <h5 class="card-title card-heading">Would you like to play a game?</h5>
    <h6 class="mt-0">Place Holder :</h6>
    <p class="card-text" id="p-custom">Place Holder</p>
    <a href="#" class="btn btn-primary start-game-btn">StartGame</a>
  </div>
</article>