<section class="d-flex justify-content-center text-center mt-3">
            <p class="mb-0 pt-1"><i class="fa-solid fa-dice"></i> <span id="die-result"></span></p>
        </section>

        <section class="container" id="container">
            <!-- ********************* Row 1 ********************* -->
            <article class="row mt-3" style="height: 130px;">
                <div class="col-4 border border-dark text-center" id="5">
                    <p class="mb-0">5</p>
                </div>
                <div class="col-4 border border-dark text-center" id="6">
                    <p class="mb-0">6</p>
                </div>
                <div class="col-4 border border-dark text-center" id="7">
                    <p class="mb-0">7</p>
                </div>
            </article>

            <!-- ********************* Row 2 ********************* -->
            <article class="row " style="height: 131px;">
                <div class="col-4 border border-dark text-center" id="4">
                    <p class="mb-0">4</p>
                </div>
                <div class="col-4 border border-dark text-center" id="15">
                    <p class="mb-0">15</p>
                </div>
                <div class="col-4 border border-dark text-center" id="8">
                    <p class="mb-0">8</p>
                </div>
            </article>

            <!-- ********************* Row 3 ********************* -->
            <article class="row " style="height: 131px;">
                <div class="col-4 border border-dark text-center" id="3">
                    <p class="mb-0">3</p>
                </div>
                <div class="col-4 border border-dark text-center" id="14">
                    <p class="mb-0">14</p>
                </div>
                <div class="col-4 border border-dark text-center" id="9">
                    <p class="mb-0">9</p>
                </div>
            </article>

            <!-- ********************* Row 4 ********************* -->
            <article class="row " style="height: 131px;">
                <div class="col-4 border border-dark text-center" id="2">
                    <p class="mb-0">2</p>
                </div>
                <div class="col-4 border border-dark text-center" id="13">
                    <p class="mb-0">13</p>
                </div>
                <div class="col-4 border border-dark text-center" id="10">
                    <p class="mb-0">10</p>
                </div>
            </article>

            <!-- ********************* Row 5 ********************* -->
            <article class="row mb-3" style="height: 130px;">
                <div class="col-4 border border-dark text-center" id="1">
                    <p class="mb-0">1</p>
                    <!-- <i class="fa-solid fa-dragon"></i> -->
                </div>
                <div class="col-4 border border-dark text-center" id="12">
                    <p class="mb-0">12</p>
                </div>
                <div class="col-4 border border-dark text-center" id="11">
                    <p class="mb-0">11</p>
                </div>
            </article>

            {{> characterTurnMenu}}

            {{> acquiredGoodsCard}}

            {{> lifeEventsCard}}

            {{> pickedAcquiredGoodsCard}}

            {{> pickedLifeEventsCard}}
            
            {{> gameOverMenu}}