<!-- ************** Sample Life Events Card Display ************** -->
<article class="card w-75 mx-auto mb-3 text-center winning-card">
    <div class="card-body" id="0">
        <h5 class="card-title card-heading">Winner Here</h5>
        <h6 class="mt-0">Score :</h6>
        <p class="card-text" id="p-custom">Score Place Holder</p>
        <a href="#" class="btn btn-primary restart-btn">Restart</a>
        <a href="#" class="btn btn-primary clear-btn">Clear Score</a>
    </div>
</article>