<main class="p-3">
  {{! About button }}
<section class="text-center mt-5">
  <button
    type="submit"
    class="text-center mt-5"
    onclick="openPopup()"
  >About</button>
  <div class="popup1" id="popup1">
    <p>A game for people who to love to shop, but don't love the guilty feelings of spending so much money! Here you can shop as you go through the board of life! </p>
    <button type="button" onclick="closePopup()">OK</button>
  </div>
</section>

{{! How to play button }}
<section class="text-center mt-5">
  <button type="submit" class="text-center mt-5" onclick="openPopup2()">How to
    Play</button>
  <div class="popup2" id="popup2">
    <p>Instructions : Log In to keep track of your scores and all of
      the merchandise you've acquired. Pick from three characters and enjoy shopping or selecting life events! Good luck!
    </p>
    <button type="button" onclick="closePopup2()">OK</button>
  </div>
</section>

{{! Login button }}
<section class="mt-5 text-center">
  <button
    onclick="document.getElementById('login-form').style.display='block'"
    style="width:auto;"
  >Login</button>
</section>

{{! Sign Up button }}
<section class="mt-5 text-center">
  <button
    onclick="document.getElementById('sign-up-form').style.display='block'"
    style="width:auto;"
  >Sign Up</button>
</section>

{{! login form }}
<div id="login-form" class="modal login-form">
  <h2 class="page-title">Login : </h2>
  <div class="modal-content animate" action="/action_page.php" method="post">
    <form class="container login-signup-form text-center pt-2">
      <label for="uname"><b>Username</b></label>
      <input
        type="text"
        id="email-login"
        placeholder="Enter Username"
        name="uname"
        required
      />

      <br>
      <label for="psw" class="pt-2"><b>Password</b></label>
      <input
        type="password"
        id="password-login"
        placeholder="Enter Password"
        name="psw"
        required
      />

      <br>
      <button type="submit" class="my-3">Login</button>
      {{!-- <label>
        <input type="checkbox" checked="checked" name="remember" />
        Remember me
      </label> --}}
    </form>

    <div class="container text-center" style="background-color:#f1f1f1">
      <button
        type="button"
        onclick="document.getElementById('login-form').style.display='none'"
        class="cancelbtn my-3"
      >Cancel</button>
      {{!-- <span class="psw">Forgot <a href="#">password?</a></span> --}}
    </div>
  </div>

</div>

{{! signup form }}
<div id="sign-up-form" class="modal signup-form">
  <h2 class="page-title">Sign up : </h2>
  <div class="modal-content animate" action="/action_page.php" method="post">
    <form class="container login-signup-form text-center pt-2">
      <label for="uname"><b>Username</b></label>
      <input
        type="text"
        id="username-signup"
        placeholder="Enter Username"
        name="uname"
        required
      />

      <br>
      <label for="email-signup" class="pt-2"><b>Email</b></label>
      <input
        type="text"
        id="email-signup"
        placeholder="Enter Email"
        name="email-signup"
        required
      />

      <br>
      <label for="psw" class="pt-2"><b>Password</b></label>
      <input
        type="password"
        id="password-signup"
        placeholder="Enter Password"
        name="psw"
        required
      />

      <br>
      <button type="submit" class="my-3">Sign Up</button>
    </form>

    <div class="container text-center" style="background-color:#f1f1f1">
      <button
        type="button"
        onclick="document.getElementById('sign-up-form').style.display='none'"
        class="cancelbtn my-3"
      >Cancel</button>
      {{!-- <span class="psw">Forgot <a href="#">password?</a></span> --}}
    </div>
  </div>

</div>

</main>

<script src="./js/login.js"></script>