<main class="p-3">
<div class="row mt-4">
  <div class="col-12">
    <h2 class="bg-light text-center mx-auto" style="width: 600px;">Welcome,
      {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 d-flex mb-3">
    <a
      href="/"
      class="mx-auto cloudinary-button btn-light border border-light"
    >Play Game</a>
  </div>

  <div class="col-12 d-flex">
    <button
      id="upload_widget"
      class="cloudinary-button border border-light mx-auto"
    >Upload files
    </button>
  </div>
</div>

</main>

<script src="./js/profile.js"></script>