<div class="row mt-4">
  <div class="col-12">
    <h2 class="bg-light text-center mx-auto" style="width: 600px;">Welcome,
      {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 d-flex">
    <button id="upload_widget" class="cloudinary-button mx-auto">Upload files
    </button>
  </div>
</div>

<script src="./js/profile.js"></script>