body {
  font-family: "Silkscreen";
}

.popup1 {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50;
  left: 40%;
  transform: scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  z-index: 3;
}

.open-popup {
  visibility: visible;
  transform: scale(1);
}

.popup2 {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50;
  left: 40%;
  transform: scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  z-index: 3;
}

.open-popup2 {
  visibility: visible;
  transform: scale(1);
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* this sets these cards invisible to begin game */
.life-events-card,
.acquired-good-card,
.picked-life-events-card,
.picked-acquired-good-card,
.game-over-card,
.character-turn-card {
  display: none;
}

.board {
  height: 100%;
  width: 100%;
  /* height: 35vw; */
  margin: -20px auto;
}

.board section {
  top: 50%;
  left: 50%;
  height: 100%;
  width: 200%;
  transform: translate(4%, 20%);
  display: flex;
}

.board section span {
  display: block;
  background: #fff;
  margin: 10px;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  outline: 1px dashed;
  outline-offset: -2px;
}

/* .row {
	width: 100%;
	display: flex;
} */

/* .top {
	height: 18.384615385%;
} */

.verticle-squares {
  outline: 1px solid black;
  flex-grow: 1;
  position: relative;
}

#d4 {
  width: 25px;
  height: 25px;
  z-index: 3;
}

/* 
.row {
	display: grid;
	grid-gap: 2px;
}


.horizontal-row {
	grid-template-columns: repeat(9, 80px);
	grid-template-rows: 125px;
} */

.login-signup-form {
  margin-bottom: 0 !important;
}
