body{
  font-family: 'Silkscreen';
}

.popup1{
  width:400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50;
  left: 40%;
  transform: scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
}
  
.open-popup {
  visibility: visible;
  transform: scale(1);
}


.popup2{
  width:400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50;
  left: 40%;
  transform: scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
}

.open-popup2 {
  visibility: visible;
  transform: scale(1);
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* this sets these cards invisible to begin game */
.life-events-card,
.acquired-good-card,
.picked-life-events-card,
.picked-acquired-good-card,
.game-over-card,
.character-turn-card {
  display: none;
}
